<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <h1>Help</h1>
  <p>
    for a book:
    <a href="http://www.railstutorial.org/book">
      <em>Ruby on Rails Tutorial</em>
  </p>
  <%= link_to image_tag("Cat_Meme.jpg", alt: "Rails logo"),
                          'http://rubyonrails.org/' %>
</html>
